<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--添加常量配置
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>-->

	<!--配置实体类型别名-->
	<typeAliases>
		<!--指定某类的别名
		  <typeAlias type="实体类的限定名" alias="别名"></typeAlias>
		  <typeAlias type="com.team.entity.Student" alias="Student"></typeAlias>
		-->
		<!--指定某包下所有的类取别名    类名即别名-->
		<package name="com.team.hospital.entity"/>
	</typeAliases>

	<!-- 指定义连接数据的配置
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			   <dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/k3501db?useUnicode=true&amp;characterEncoding=utf-8"/>
				<property name="username" value="root"/>
				<property name="password" value="123"/>
			</dataSource>
		</environment>
	</environments>
	-->

	<!--配置分页的插件-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

	<!-- 加载sql映射文件-->
	<mappers>
		<!--
		<mapper resource="com/team/dao/GradeDao.xml"/>
		<mapper resource="com/team/dao/StudentDao.xml"/>
		-->
		<!--添加某包下所有sql映射文件  接品名称与sql映射文件名称相同-->
		<package name="com.team.hospital.mapper"/>
	</mappers>


</configuration>
